*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    --primary-color:#0E4BF1;
    --panel-color:white;
    --text-color:#CCC;
    --black-light-color:#CCC;
    --border-color:#4D4C4C;
    --toggle-color:#FFF;
    --box1-color:#3A3B3C;
    --box2-color:#3A3B3C;
    --box3-color:#3A3B3C;
    --title-icon-color:#CCC;

    --tran-05:all 0.5s ease;
    --tran-03:all 0.3s ease;
    --tran-03:all 0.2s ease;
}

body{
    height: 100vh;
    background-color:var(--primary-color);
    width:100%;
}

.dark{
    --primary-color:#3A3B3C;
    --panel-color:#242526;
    --text-color:#000;
    --black-light-color:#707070;
    --border-color:#e6e6e6;
    --toggle-color:#DDD;
    --box1-color:#4DA3FF;
    --box2-color:#FFE6AC;
    --box3-color:#E7D1FC;
    --title-icon-color:#fff;
}

nav .logo-image{
    min-width: 45px;
    display: flex;
    justify-content: center;
}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color:var(--panel-color);
    border-right: 2px solid var(--border-color);
    transition: var(--tran-05);
}

nav.close{
    width: 73px;
    
}

nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}

nav .logo-name{
    display: flex;
    align-items: center;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    margin-left: 14px;
    color: var(--text-color);
}

nav .menu-items{
    /* background-color: red; */
    margin-top: 40px;
    height:90%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}

.menu-items li{
    list-style: none;
}

.menu-items   li a{
    display: flex;
    height: 60px;
    text-decoration: none;
    align-items: center;
    position: relative;

}

.menu-items   li a i{
    font-size: 24px;
    min-width:45px;
    height: 100%;
    display: flex;
    align-items: center;
    color: gray;
    justify-content:center;

}

.nav-links li a:hover:before{
    position: absolute;
    content:"";
    height: 5px;
    width: 5px;
    left: -7px;
    border-radius: 50%;
    background-color:blue;

}

.menu-items li a .link-name{
    font-size: 18px;
    color: gray;
    font-weight:400;
    transition: var(--tran-05);
}

.menu-links  li a:hover .link i,
.nav-links li a:hover .link-name{
    color: blue;
}

.menu-items .mode-toggle{
    height: 50px;
    min-width:45px;
    position: absolute;
    right: 14px;
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
}

.menu-items .longout-mode{
    padding-top: 10px;
    border-right: 2px solid var(--border-color);

}

nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}

.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.mode-toggle .switch{
    position: relative;
    display: inline-block;
    background-color:gray;
    border-radius: 25px;
    height: 22px;
    width: 40px;
}

.mode-toggle .switch:before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color:white;
    border-radius: 50%;
}

body.dark .switch:before{
    left: 20px;    
}

.dashboard{
    background-color:var(--panel-color);
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    background-color: var(--panel-color);
    padding: 10px 14px;
    justify-content: space-between;
    align-items: center;
    transition: var(--tran-05);
}

nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    height: 100%;
    border-radius: 5px;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
}

.top .search-box i{
    position: absolute;
    left: 15px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}